.login label {
    color: #666;
    /* font-weight: bold */
    font-family: Georgia, Times, "Times New Roman", serif;
}

.login input {
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px rgb(255, 255, 255) inset;
    border-radius: 2px;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}

.login button.submit {
    margin-left: 70px;
}

.login button.submit:hover {
    opacity: .85;
    cursor: pointer;
}