/*
.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ccc;

}

.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 3em;
}

.login error {
    background: white;
    border-radius: 10px;
    padding: 1em;
    color: red;
}

.login > * {
    margin: 1em 0;
    min-width: 60vw;
} */

label {
    color: #666;
    font-weight: bold
  }
  
  input {
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
  }
  
  button.submit {
      margin-left: 140px; 
  }
  
  button.submit:hover {
      opacity: .85;
      cursor: pointer;
  }
  
  form,
  p {
    margin: 0;
  }